In [1]:
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 79.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247953 sha256=0796ea874c8dda0befe6d5f6b7263caab35e581040c2011f4f6bf2ebc3b48bcb
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host='34.101.37.160',
    database='capstone',
    user='user-capstone',
    password='123456'
)

# Execute the query and fetch the data
tourism = pd.read_sql('SELECT * FROM tourism', conn)

# Close the connection
conn.close()

# Print the retrieved data
#print(data)
tourism.info()

tourism.to_csv('tourism_data.csv',index=False)

#return = seluruh kolom

<ipython-input-2-9a9179fbf2f2>:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tourism = pd.read_sql('SELECT * FROM tourism', conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21 non-null     int64
 1   place_name   21 non-null     object
 2   description  21 non-null     object
 3   city         21 non-null     object
 4   rating       21 non-null     float64
 5   lat          21 non-null     float64
 6   lon          21 non-null     float64
 7   image        21 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 1.4+ KB

In [3]:
tourism

,id,place_name,description,city,rating,lat,lon,image
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,4.6,-6.17539,106.827,https://assets.pikiran-rakyat.com/crop/0x416:1...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,4.6,-6.13764,106.817,https://cdn.antaranews.com/cache/800x533/2021/...
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,4.6,-6.12531,106.834,https://awsimages.detik.net.id/api/wm/2017/10/...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Jakarta,4.5,-6.30245,106.895,https://upload.wikimedia.org/wikipedia/commons...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Jakarta,4.5,-6.12419,106.839,https://cdn.antaranews.com/cache/800x533/2021/...
5,6,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol merupakan sebuah objek...,Jakarta,4.5,-6.11733,106.858,https://inakoran.com/uploads/2020/06/13/159206...
6,7,Kebun Binatang Ragunan,Kebun Binatang Ragunan adalah sebuah kebun bin...,Jakarta,4.5,-6.31246,106.820,https://www.tagar.id/Asset/uploads2019/1615882...
7,8,Ocean Ecopark,Ocean Ecopark Salah satu zona rekreasi Ancol y...,Jakarta,4.0,-6.12580,106.836,https://media-cdn.tripadvisor.com/media/photo-...
8,9,Pelabuhan Marina,Pelabuhan Marina Ancol berada di kawasan Taman...,Jakarta,4.4,1.07888,103.931,https://www.hotelmurah.com/ceritawisata/wp-con...
9,10,Pulau Tidung,Pulau Tidung adalah salah satu kelurahan di ke...,Jakarta,4.5,-5.80321,106.524,https://backpackerjakarta.com/wp-content/uploa...
10,11,Pulau Bidadari,Pulau Bidadari merupakan salah satu resor di K...,Jakarta,4.6,-6.03583,106.747,https://www.ancol.com/blog/wp-content/uploads/...
11,12,Danau Shuji Lembak,Danau Shuji Lembak merupakan,Muara Enim,4.5,-3.35462,104.347,https://asset.kompas.com/crops/VBs3m61LLR1nUKW...
12,13,Desa Wisata Kampung Warna Burai,Desa Wisata Kampung Warna Burai Merupakan,Ogan Ilir,4.4,-3.28065,104.595,https://img.celebrities.id/okz/900/87ljB1/mast...
13,14,Kampoeng Malaka Kartamulia,Kampoeng Malaka Kartamulia merupakan,Muara Enim,4.3,-3.21191,104.360,https://i.ytimg.com/vi/pGPAyX8GCp4/maxresdefau...
14,15,Wisata Alam Pondok Marogan,Wisata Alam Pondok Maroganmerupakan,Palembang,4.8,-2.88132,104.701,https://assets.ayobandung.com/crop/0x0:0x0/750...
15,16,Taman Permata,Taman Permata merupakan,Musi Banyuasin,4.0,-2.87931,103.837,https://www.andalastourism.com/wp-content/uplo...
16,17,Kampung Hias Lorong Mari,Kampung Hias Lorong Mari merupakan,Palembang,4.8,-3.00162,104.817,https://a.cdn-myedisi.com/n_article/palpos-581...
17,18,Taman Kota Sekayu,Taman Kota Sekayu merupakan,Musi Banyuasin,4.7,-2.87538,103.838,https://fornews.co/news/inline/2021/11/taman-S...
18,19,Taman Sekanak Lambidaro,Taman Sekanak Lambidaro merupakan,Palembang,4.5,-2.98518,104.752,https://blue.kumparan.com/image/upload/fl_prog...
19,20,Taman Danau,Taman Danau merupakan,Palembang,4.6,-3.01386,104.795,https://cdn-2.tstatic.net/sumsel/foto/bank/ima...
20,21,Playground Simpang Tiga Stairs Takat,Playground Simpang Tiga Stairs Takat merupakan,Palembang,4.3,-2.98969,104.792,https://live.staticflickr.com/826/40966956985_...

In [4]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

# Step 1: Load the dataset
data = pd.read_csv('tourism_data.csv')

# Step 2: Preprocess the data (if needed)

# Step 3: Feature engineering
features = tourism[['lat', 'lon']]

# Step 4: Feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Step 5: Apply k-means clustering
k = 4  # Set the number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
kmeans.fit(scaled_features)

# Step 6: Assign cluster labels
cluster_labels = kmeans.labels_

#Lokasi = Jakarta
# latitude = -6.175392	
# longitude = 106.827153

latitude = -2.986752
longitude = 104.725015

# Step 7: Recommend locations
target_location = [latitude, longitude]  # Specify the target location
target_scaled = scaler.transform([target_location])

# Find the nearest neighbors
n_neighbors = 10  # Set the number of nearest neighbors to recommend
nbrs = NearestNeighbors(n_neighbors=n_neighbors, algorithm='ball_tree').fit(scaled_features)
distances, indices = nbrs.kneighbors(target_scaled)

# Get the recommended locations based on cluster labels
#recommended_locations = tourism.iloc[indices[0]][['id','place_name','rating']]
recommended_locations = tourism.iloc[indices[0]]

print("Recommended Locations:")
recommended_locations

Recommended Locations:

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

,id,place_name,description,city,rating,lat,lon,image
18,19,Taman Sekanak Lambidaro,Taman Sekanak Lambidaro merupakan,Palembang,4.5,-2.98518,104.752,https://blue.kumparan.com/image/upload/fl_prog...
20,21,Playground Simpang Tiga Stairs Takat,Playground Simpang Tiga Stairs Takat merupakan,Palembang,4.3,-2.98969,104.792,https://live.staticflickr.com/826/40966956985_...
14,15,Wisata Alam Pondok Marogan,Wisata Alam Pondok Maroganmerupakan,Palembang,4.8,-2.88132,104.701,https://assets.ayobandung.com/crop/0x0:0x0/750...
19,20,Taman Danau,Taman Danau merupakan,Palembang,4.6,-3.01386,104.795,https://cdn-2.tstatic.net/sumsel/foto/bank/ima...
16,17,Kampung Hias Lorong Mari,Kampung Hias Lorong Mari merupakan,Palembang,4.8,-3.00162,104.817,https://a.cdn-myedisi.com/n_article/palpos-581...
12,13,Desa Wisata Kampung Warna Burai,Desa Wisata Kampung Warna Burai Merupakan,Ogan Ilir,4.4,-3.28065,104.595,https://img.celebrities.id/okz/900/87ljB1/mast...
13,14,Kampoeng Malaka Kartamulia,Kampoeng Malaka Kartamulia merupakan,Muara Enim,4.3,-3.21191,104.360,https://i.ytimg.com/vi/pGPAyX8GCp4/maxresdefau...
11,12,Danau Shuji Lembak,Danau Shuji Lembak merupakan,Muara Enim,4.5,-3.35462,104.347,https://asset.kompas.com/crops/VBs3m61LLR1nUKW...
17,18,Taman Kota Sekayu,Taman Kota Sekayu merupakan,Musi Banyuasin,4.7,-2.87538,103.838,https://fornews.co/news/inline/2021/11/taman-S...
15,16,Taman Permata,Taman Permata merupakan,Musi Banyuasin,4.0,-2.87931,103.837,https://www.andalastourism.com/wp-content/uplo...

In [5]:
conn = mysql.connector.connect(
    host='34.101.37.160',
    database='capstone',
    user='user-capstone',
    password='123456'
)

# Execute the query and fetch the data
user_rating = pd.read_sql('SELECT * FROM user_profile', conn)

# Close the connection
conn.close()

# Print the retrieved data
#print(data)
user_rating.info()

#tourism.to_csv('tourism_data.csv',index=False)

<ipython-input-5-a520838c3140>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  user_rating = pd.read_sql('SELECT * FROM user_profile', conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        6 non-null      object
 1   place_id       6 non-null      int64
 2   place_ratings  6 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [7]:
user_rating

                        user_id  place_id  place_ratings
0                             1         1            1.0
1  Wx9qWR2QLJdezf273x8jF9WcOe02         9            3.5
2  ePzpIPG72DQkZuQ023aWPYUwfe63        19            4.0
3  ePzpIPG72DQkZuQ023aWPYUwfe63        13            4.0
4  ePzpIPG72DQkZuQ023aWPYUwfe63        19            2.5
5  ePzpIPG72DQkZuQ023aWPYUwfe63        19            4.5

In [8]:
user_rating
user_rating.to_csv('user_rating.csv',index=False)