In [2]:
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 78.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247953 sha256=4f3193a2032d1b8f2088198cb619a09e47bc278d9bc7887a37cf5c5d76f695c3
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [18]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host='34.101.37.160',
    database='capstone',
    user='user-capstone',
    password='123456'
)

# Execute the query and fetch the data
tourism = pd.read_sql('SELECT * FROM tourism', conn)

# Close the connection
conn.close()

# Print the retrieved data
#print(data)
tourism.info()

tourism.to_csv('tourism_data.csv',index=False)

#return = seluruh kolom

<ipython-input-18-9a9179fbf2f2>:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tourism = pd.read_sql('SELECT * FROM tourism', conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   place_name   10 non-null     object
 2   description  10 non-null     object
 3   city         10 non-null     object
 4   rating       10 non-null     float64
 5   lat          10 non-null     float64
 6   lon          10 non-null     float64
 7   image        10 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 768.0+ bytes

In [19]:
tourism

,id,place_name,description,city,rating,lat,lon,image
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,4.6,-6.17539,106.827,https://assets.pikiran-rakyat.com/crop/0x416:1...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,4.6,-6.13764,106.817,https://cdn.antaranews.com/cache/800x533/2021/...
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,4.6,-6.12531,106.834,https://awsimages.detik.net.id/api/wm/2017/10/...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Jakarta,4.5,-6.30245,106.895,https://upload.wikimedia.org/wikipedia/commons...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Jakarta,4.5,-6.12419,106.839,https://cdn.antaranews.com/cache/800x533/2021/...
5,6,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol merupakan sebuah objek...,Jakarta,4.5,-6.11733,106.858,https://inakoran.com/uploads/2020/06/13/159206...
6,7,Kebun Binatang Ragunan,Kebun Binatang Ragunan adalah sebuah kebun bin...,Jakarta,4.5,-6.31246,106.820,https://www.tagar.id/Asset/uploads2019/1615882...
7,8,Ocean Ecopark,Ocean Ecopark Salah satu zona rekreasi Ancol y...,Jakarta,4.0,-6.12580,106.836,https://media-cdn.tripadvisor.com/media/photo-...
8,9,Pelabuhan Marina,Pelabuhan Marina Ancol berada di kawasan Taman...,Jakarta,4.4,1.07888,103.931,https://www.hotelmurah.com/ceritawisata/wp-con...
9,10,Pulau Tidung,Pulau Tidung adalah salah satu kelurahan di ke...,Jakarta,4.5,-5.80321,106.524,https://backpackerjakarta.com/wp-content/uploa...

In [17]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

# Step 1: Load the dataset
data = pd.read_csv('tourism_data.csv')

# Step 2: Preprocess the data (if needed)

# Step 3: Feature engineering
features = tourism[['lat', 'lon']]

# Step 4: Feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Step 5: Apply k-means clustering
k = 4  # Set the number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
kmeans.fit(scaled_features)

# Step 6: Assign cluster labels
cluster_labels = kmeans.labels_

#Lokasi = Jakarta
latitude = -6.175392	
longitude = 106.827153

# Step 7: Recommend locations
target_location = [latitude, longitude]  # Specify the target location
target_scaled = scaler.transform([target_location])

# Find the nearest neighbors
n_neighbors = 10  # Set the number of nearest neighbors to recommend
nbrs = NearestNeighbors(n_neighbors=n_neighbors, algorithm='ball_tree').fit(scaled_features)
distances, indices = nbrs.kneighbors(target_scaled)

# Get the recommended locations based on cluster labels
#recommended_locations = tourism.iloc[indices[0]][['id','place_name','rating']]
recommended_locations = tourism.iloc[indices[0]]

print("Recommended Locations:")
recommended_locations

Recommended Locations:

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

,id,place_name,description,city,rating,lat,lon,image
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,4.6,-6.175392,106.827153,https://assets.pikiran-rakyat.com/crop/0x416:1...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,4.6,-6.137645,106.817125,https://cdn.antaranews.com/cache/800x533/2021/...
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,4.6,-6.125312,106.833538,https://awsimages.detik.net.id/api/wm/2017/10/...
7,8,Ocean Ecopark,Ocean Ecopark Salah satu zona rekreasi Ancol y...,Jakarta,4.0,-6.125802,106.836325,https://media-cdn.tripadvisor.com/media/photo-...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Jakarta,4.5,-6.124190,106.839134,https://cdn.antaranews.com/cache/800x533/2021/...
5,6,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol merupakan sebuah objek...,Jakarta,4.5,-6.117333,106.857995,https://inakoran.com/uploads/2020/06/13/159206...
6,7,Kebun Binatang Ragunan,Kebun Binatang Ragunan adalah sebuah kebun bin...,Jakarta,4.5,-6.312459,106.820187,https://www.tagar.id/Asset/uploads2019/1615882...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Jakarta,4.5,-6.302446,106.895156,https://upload.wikimedia.org/wikipedia/commons...
9,10,Pulau Tidung,Pulau Tidung adalah salah satu kelurahan di ke...,Jakarta,4.5,-5.803205,106.523791,https://backpackerjakarta.com/wp-content/uploa...
8,9,Pelabuhan Marina,Pelabuhan Marina Ancol berada di kawasan Taman...,Jakarta,4.4,1.078880,103.931398,https://www.hotelmurah.com/ceritawisata/wp-con...